<h1>Users</h1>

<ol>
  {{#each users}}
    <li>
      <h1><a href="/users/{{id}}">{{first_name}}</a></h1>
      <h3>{{last_name}}</h3>
      <p>{{email}}, 
    {{username}}</p>
    </li>
  {{/each}}
</ol>
