 <div class="container">
			<div class="row main">
				<div class="main-login main-center">
 <h1>Sensory Friendly</h1>
{{# each users}}
<div class="panel panel-info">
    <div class="panel-heading">
    <h2 class="panel-title">Sensory Friendly User</h2>
    </div>
    <div><h1>{{last_name}}, {{first_name}}</h1>
        <h3>Username: {{username}}</h3>
        <h3>Email: {{email}}</h3></div>
    
    <!-- Single button -->
        <div class="btn-group btn-group-lg btn-block">
        <button type="button" class="btn btn-warning btn-lg btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Edit User<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li style="background: #66B744; color: #fff;"><a href="/users/{{_id}}"><h4>ID:{{_id}}</h4></a>
            </li>  
        </ul>
        </div>
{{/ each}}
</div>
<a href="/users/new" class="btn btn-primary btn-lg btn-block">Create New User</a>
<a href="/" class="btn btn-info btn-lg btn-block">Main Page</a>
		</div>
	</div>
</div>
