<h1>{{title}}</h1>
<div>
    <h1>User {{users._id}}</h1>

    <div>First Name: {{users.first_name}}</div>
    <div>Last Name: {{users.last_name}}</div>
    <div>Email: {{users.email}}</div>
    <div>Locations: 
        <ul>
            {{# each locations}}
                <span><li>Name: {{name}}</li></span> 
                <span><a href="/users/{{../user.id}}/locations/{{_id}}/edit">Edit</a></span>
                <span><a href="/users//{{../user.id}}/locations/{{id}}/delete">Delete</a></span>
            {{/ each}}
        </ul>
    </div>

    <div><a href="/users/edit/{{users.id}}">Edit This User</a></div>
    
    <div><a href="/users/{{users.id}}/locations/new">Add a New Locations</a></div>
    <div><a href="/users">Back to Users</a></div>

</div>
<a href="/users" class="btn btn-default">Main Page</a>

<form action="/users/{{users.id}}?_method=DELETE" method="POST">
  <input type="submit" value="DELETE" class="btn btn-danger"/>
</form>