<div>
    <h3>User {{users._id}}</h3>

    <div>First Name: {{users.first_name}}</div>
    <div>Last Name: {{users.last_name}}</div>
    <div>Email: {{users.email}}</div>
    <div>Username: {{users.username}}</div>
    <div>Locations:
            {{# each users.locations}}
                <span><li>Business Name: {{business_name}}</li></span> 
                <span><a href="/users/{{../users.id}}/locations/{{_id}}/edit">Edit</a></span>
                <span><a href="/users//{{../users.id}}/locations/{{id}}/delete">Delete</a></span>
            {{/ each}}
        </ul>
    </div>

    <div><a href="/users/edit/{{users.id}}">Edit This User</a></div>
    
    <div><a href="/users/{{users.id}}/locations/new">Add a New Locations</a></div>
    <div><a href="/users">Back to Users</a></div>

</div>
<a href="/users" class="btn btn-default">Main Page</a>

<form action="/users/{{users.id}}?_method=DELETE" method="POST">
  <input type="submit" value="DELETE" class="btn btn-danger"/>
</form>